<ul class="gallery-grid">
  {% for item in items %}
    <li class="gallery-item">
      <a href="{{ item.data.src }}" data-title="{{ item.data.title }}" class="gallery-item">
        {% image item.data.src, item.data.alt, "(min-width: 30em) 50vw, 100vw", item.data.monochrome %}
      </a>
    </li>
  {% endfor %}
</ul>
