---
layout: "layouts/base.njk"
---

<article>
    <h1>{{ title }}</h1>
    <p>Date: {{ date | date("yyyy-MM-dd") }}</p>
    <p>Mood: {{ mood }}</p>
    <p>Camera: {{ camera }}</p>
    <p>Lens: {{ lens }}</p>
    <img src="/portraits/{{ page.fileSlug }}.jpg" alt="{{ title }}">
    {{ content | safe }}
</article>
