---
layout: "layouts/base.njk"
---

<div class="space-y-8">
  <div class="space-y-2">
    <h1 class="text-3xl font-bold">{{ title }}</h1>
    <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  </div>
  {# The `or true` provides a default if `monochrome` is not in front matter #}
  {% image src, alt, "(min-width: 30em) 50vw, 100vw", monochrome %}
</div>
